<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.malacca.ttad">
    <application>
        <provider
            android:name="com.bytedance.sdk.openadsdk.multipro.TTMultiProvider"
            android:authorities="${applicationId}.TTMultiProvider"
            android:exported="false" />
        <activity
            android:name="com.bytedance.sdk.openadsdk.activity.TTFullScreenVideoActivity"
            android:theme="@style/LandPageTheme">
        </activity>
        <activity
            android:name="com.bytedance.sdk.openadsdk.activity.TTRewardVideoActivity"
            android:theme="@style/LandPageTheme">
        </activity>
        <activity
            android:name="com.bytedance.sdk.openadsdk.activity.TTLandingPageActivity"
            android:theme="@style/LandPageTheme">
        </activity>
        <activity
            android:name="com.bytedance.sdk.openadsdk.activity.TTPlayableLandingPageActivity"
            android:theme="@style/LandPageTheme">
        </activity>
        <activity
            android:name="com.bytedance.sdk.openadsdk.activity.TTVideoLandingPageActivity"
            android:theme="@style/LandPageTheme">
        </activity>
    </application>
</manifest>